/* ini css */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e5e5e5;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #e5e5e5;
  border: 1px solid black;
  border-radius: 0 0 5px 5px;
  padding: 5px;
}

nav {
  display: flex;
  gap: 10px;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 8px;
  background-color: #1a202c;
  border-radius: 10px;
}

nav a:hover {
  transition: background-color 0.5s ease-in-out;

  background-color: #3a4c74;
}
.photo-banner {
  background-image: url(../images/background.webp);
  background-size: cover;
  background-position: center;
  height: 578px;
  border-radius: 40px;
}

#section-home {
  padding: 50px;
  
}

.logo-icon {
  height: 50px;
  width: 50px;
  background-image: url(../images/RevoU.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.profile-icon-container {
  display: flex;
  padding: 70px;
}

.Profile-icon {
  background-image: url(../images/RevoU.png);
  height: 100px;
  width: 100px;
  background-size: cover;
  border: 1px solid black;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: auto;
}

.Profile-icon > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Profile-icon > h4 {
  margin-top: 120px;
}
